@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

@media all and (max-width: 840px) {
    .col-2 #order-form {
        position: inherit;
        margin: 0 auto;
        width: 100%;
    }

    .page .layout {
        display: block;
        padding: 0 10px;
    }

    .layout .col-1, .layout .col-2 {
        width: 100%;
        padding: 0;
    }
}

@media all and (max-width: 666px) {

    header #navigation {
        display: none;
    }

    header #menuIcon {
        display: block;
        margin-right: 6px;
        margin-top: 10px;
    }

    #mobile-navigation {
        position: fixed;
        z-index: 3;
        display: flex;
        justify-content: center;
        top: 88px;
        left: 0;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: all 300ms;
    }

    #mobile-navigation.active {
        max-height: 100px;
        background-color: #1f1f1f;
    }

    .mobile-nav-link {
        flex-grow: 1;
        display: block;
        text-decoration: none;
        color: white;
        padding: 20px;
        text-align: center;
    }

    .background-img .overlay .hero-content h1 {
        font-size: 2em;
    }

    .background-img .overlay .hero-content h3 {
        font-size: 1em;
    }

    header .logo {
        height: 90%;
    }

    .page #products {
        padding: 0 20px;
    }

    .page .search-bar .search-input {
        width: 70%;
    }

    /*.page .total-container {*/
        /*position: fixed;*/
        /*width: 100%;*/
    /*}*/
}

@media all and (min-width: 668px) and (max-width: 1110px) {
    .page #products .product {
        min-width: 46%;
    }
}

header .cart .fa.fa-shopping-cart {
    font-size: 2.5em;
}

#menuIcon {
    display: none;
}

#navigation .nav-link {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 16px 0;
    width: 100px;
    text-align: center;
}

.nav-link:hover {
    color: #A09F42;
}

body, html {
    margin: 0;
    font-family: 'Roboto Slab', serif;
    background-color: #f7f7f7;
}

.fa.fa-shopping-cart {
    color: #DEC392 !important;
    z-index: 4;
}

.icon-group {
    display: flex;
    position: absolute;
    bottom: 40px;
}

.fa.fa-tag {
    font-size: 1em;
    color: #A09F42;
    margin-right: 4px;
}

.fa.fa-glass {
    font-size: 0.8em;
    color: #A09F42;
    margin-right: 2px;
}

button {
    cursor: pointer;
}

button:focus {
    outline: none;
}

textarea, input[type="text"], input[type="button"], input[type="submit"] {
    -webkit-appearance: none;
    border-radius: 0;
}

.procent-icon-container, .price-icon-container {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    /*padding: 12px ;*/
    margin: 20px 20px 20px 0;
}

.procent-icon {
    font-weight: 900;
}

header {
    z-index: 3;
    position: fixed;
    background-color: rgb(56, 56, 56);
    display: flex;
    height: 3em;
    width: 100%;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.65);
    color: white;
}

.cart {
    display: flex;
    align-items: center;
    position: absolute;
    right: 60px;
    /*width: 100px;*/
    text-align: center;
}

.cart-count {
    margin-right: 10px;
    margin-top: 4px;
    min-width: 74px;
}

.badge {
    background-color: #A09F42;
    border-radius: 20px;
}

header .fa .fa-shopping-cart {
    width: 100px !important;
    height: 100px;
}

.logo {
    display: block;
    width: auto;
    height: 100%;
}

#products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product {
    display: flex;
    position: relative;
    max-width: 31%;
    min-width: 340px;
    height: 340px;
    border: 1px solid #f4f4f4;
    padding: 12px;
    background-color: white;
    transition: all 300ms;
    z-index: 2;
}

.product img {
    display: block;
    max-height: 300px;
    width: auto;
    margin-right: 10px;
}

.product .name {
    margin: 16px 0;
}

.product .footer {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.product .footer button {
    flex-grow: 1;
    width: 50%;
    border: none;
    background-color: #383838;
    color: white;
    font-weight: 500;
    padding: 12px;
    transition: all 300ms;
}

.product .footer button:hover {
    background-color: #A09F42;
    /*color: #383838;*/
}

.product .footer input {
    flex-grow: 1;
    width: 50%;
    font-size: 16px;
    padding: 0 8px;
    text-align: center;
}

input {
    border: none;
}

input:focus {
    outline: none;
}

.background-img {
    position: absolute;
    background: url("../assets/bg.jpg") no-repeat center right;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.51);
    width: 100%;
    height: 100%;
}

.hero-content {
    text-align: center;
    /*background-color: #50B1FF;*/
}

.hero-content h1 {
    color: white;
    font-size: 3.5em;
    margin: 0;
    text-shadow: 1px 1px 4px #232323;
}

.hero-content h3 {
    color: #DEC392;
    font-size: 2em;
    margin: 0;
    text-shadow: 1px 1px 4px #191919;

}

.hero-content h3 span {
    color: white;
    font-size: 1.3em;
    font-weight: 300;
}

.shop-btn {
    display: inline-block;
    border: none;
    padding: 20px;
    margin-top: 32px;
    border-radius: 32px;
    font-size: 1em;
    text-shadow: 1px 1px 4px #1d4858;
    background-color: #4098ba;
    color: white;
    transition: all 300ms;
    text-decoration: none;
}

.shop-btn:hover {
    /*transform: scale(1.05);*/
    background-color: white;
    color: #4098ba;
    text-shadow: none;
    cursor: pointer;
}

.cart-item {
    position: relative;
    /*margin: 0 10px;*/
    border-bottom: 1px solid #e8e8e8;
}

.cart-item .name {
    margin: 0 20px 0 0;
}

.cart-item .info-group {
    display: flex;
    align-items: center;
    padding: 40px 10px;
    background-color: white;
}

.cart-item .info-group .price-icon-container,
.cart-item .info-group .procent-icon-container {
    margin: 0 10px 0 0;
    padding-top: 6px;
}

.cart-item .cart-item-footer {
    display: flex;
    background-color: #ffffff;
    height: 56px;
}

.cart-item .cart-item-footer .quantity {
    display: block;
    min-width: 60px;
    text-align: center;
    padding: 17px 0;
    font-size: 1.2em;
}

.cart-item .cart-item-footer .fa.fa-trash {
    display: block;
    padding: 20px 22px;
    background-color: #ff7075;
    color: #383838;
}

.cart-item .cart-item-footer .fa.fa-minus,
.cart-item .cart-item-footer .fa.fa-plus {
    display: block;
    padding: 20px 22px;
    color: #f8f8f8;
    background-color: #383838;
}

.cart-item .cart-item-footer .sub-total {
    display: block;
    height: 100%;
    width: 100%;
    max-width: 200px;
    padding: 10px 0;
    text-align: center;
    line-height: 1;
}

.cart-item .cart-item-footer .sub-total .label {
    font-size: 12px;
    color: #c3c3c3;
}

.cart-item .cart-item-footer .sub-total .price {
    font-size: 1.5em;
    margin-left: 8px;
}

.total-container {
    display: flex;
    width: 100%;
    padding: 20px 0;
    background-color: white;
}

.total-container .label {
    width: 50%;
    font-size: 2em;
    text-align: center;
    color: #555555;
}

.total-container #total-sum {
    text-align: center;
    font-size: 2em;
    /*background-color: #A09F42;*/
    color: #000;
    font-weight: 900;
    width: 50%;
}


#orderContainer {
    max-width: 600px;
    margin: 0 auto;
}

#order-form {
    position: fixed;
    width: 340px;
    max-width: 600px;
    text-align: center;
}

#order-form input {
    display: block;
    width: 100%;
    background-color: #ffffff;
    padding: 16px;
    box-sizing: border-box;
    border-bottom: 1px solid #dedede;
}

.btn-group {
    display: flex;
    max-height: 64px;
}

#order-form button {
    padding: 16px 64px;
    background-color: #383838;
    color: white;
    width: 100%;
    border: none;
}

#order-form button.cancel {
    background-color: #dedede;
    color: #383838;

}

body.no-scroll {
    overflow-y: hidden;
}

.modal.open {
    display: flex;
}

.layout {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
}

.info {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
}

.info-about {
    color: #565656;
}

.col-1 {
    text-align: center;
    width: 60%;
}

.col-2 {
    width: 40%;
    padding-left: 20px;
}